<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">

<!-- Importação do CSS do Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

<title>Listagem de produtos</title>
</head>
<body>

	<div class="container">
		<!-- Loop para exibir cada produto -->
		<div class="card" th:each="produto : ${produtos}">
			<!-- Cabeçalho do cartão com o nome do produto -->
			<div class="card-header" th:text="${produto.nome}"></div>
			<div class="card-body">
				<div class="row">
					<div class="col">
						<!-- Informações do produto: preço, quantidade e descrição -->
						<div>
							Preço:<span th:text="${produto.preco}"></span>
						</div>
						<div>
							Quantidade:<span th:text="${produto.quantidade}"></span>
						</div>
						<div>
							Descrição:<h5 th:text="${produto.descricaoProduto}"></h5>
						</div>
					</div>
					<div class="col">
						<!-- Imagem do produto -->
						<img alt="imagem do produto" 
							th:src="${produto.urlImagem}"
							src="" class="img-thumbnail">
					</div>
				</div>
			</div>
		</div>
	</div>

<!-- Importação do script do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
