<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sistema de Atendimento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center mt-5">
        <h1>Bem-vindo ao Sistema de Atendimento</h1>
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action" href="/cadastrar_Cliente">1 - Cadastrar Cliente</a>
                    <a class="list-group-item list-group-item-action" href="/consultarCliente">3 - Consultar Cliente</a>
                      
                    <a class="list-group-item list-group-item-action" href="/cadastrar_Medico">2 - Cadastrar Medico</a>
                     <a class="list-group-item list-group-item-action" href="/consultarMedico">4 - Consultar Medico</a>
                    
                    <a class="list-group-item list-group-item-action" href="/agendarCliente">5 - Agendar Cliente</a>
                    <a class="list-group-item list-group-item-action" href="/consultarAgenda">6 - Consultar Agenda</a>
                    
                    <a class="list-group-item list-group-item-action" href="/registrarAtendimento">3 - Registrar Procedimento</a>
                    <a class="list-group-item list-group-item-action" href="/consultarCliente">4 - Consultar Procedimento</a>
                    
                   
                    
                </div>
            </div>
        </div>
    </div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
	
</body>
</html>
